* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #dc3545;
    margin-top: 8.25rem;
    margin-bottom: .25rem;
    color: #fff;
    border-color: #bd2130;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .3rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5);
  }
  
  .message {
    position: absolute;
    display: block;
    border: 3px solid transparent;
    border-radius: 2%;
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5);
    height: auto;
    width: auto;
    display: inline-block;
    width: 19em;
    height: 7em;
    /*margin-left: calc(19em - 50%);*/
  }
  
  .title {
    padding: 10px 15px 5px;
    border-bottom: 1px solid grey;
    background-color: #eee;
  }
  
  .text {
    padding: 10px 15px 5px;
  }
  
  .main {
    margin-left: 200px;
  }